name: Publish VS Code Extension

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            path: linux
          - os: windows-latest
            path: win32

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Cache Cargo registry
      uses: actions/cache@v4
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-registry-

    - name: Cache Cargo build
      uses: actions/cache@v4
      with:
        path: server/target
        key: ${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-build-

    - name: Build Rust server
      run: cargo build --release
      working-directory: ./server

    - name: Upload Rust binary
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.path }}
        path: |
          server/target/release/stack-lang-server
          server/target/release/stack-lang-server.exe
