name: Check and test

on:
  push:
    branches: [ "main" ]
    paths:
      - 'server/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'server/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Run Clippy check
      run: cargo clippy --all-targets --all-features -- -D warnings
      working-directory: ./server

    - name: Run tests
      run: cargo test --verbose
      working-directory: ./server
      
